<!DOCTYPE html>
<html>

<head>
    <title>Trang web của tôi</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="icon" href="images/logo.jpg" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>

<body>
    <div class="container-1">
        <div class="sidebar">
            <div class="logo-edit">
                <img src="images/logo.jpg">
                <p>BỆNH VIỆN HẢI CHÂU</p>
            </div>
            <ul class="list-unstyled">
                <div class="section">NAVIGATION</div>
                <li><a href="index.html" style="color: rgb(30, 233, 16);"><i class='bx bx-list-ul'></i>Danh sách yêu
                        cầu</a></li>
                <li><a href="index-2.html"><i class="ri-file-list-line"></i>Quản lý thiết bị</a></li>
                <li><a href="#"><i class='bx bxs-add-to-queue'></i>Xử lý nhập</a></li>
                <li><a href="#"><i class="ri-file-reduce-fill"></i>Xử lý xuất</a></li>
                <li><a href="#"><i class="ri-bar-chart-box-fill"></i>Thống kê</a></li>
                <li><a href="#"><i class='bx bx-cog'></i>Cài đặt</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="header">
                <div class="search-header">
                    <div class="input-search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <div class="input-group-append">
                                <button class="btn btn-success" type="submit">Go</button>
                            </div>
                        </div>
                    </div>
                    <button id="filter-header"><i class='bx bx-filter-alt'></i>Lọc</button>
                </div>
                <div class="main">
                    <a href="#" class="notification"><i class='bx bxs-bell-ring'></i></a>
                    <div class="account-user">
                        <img src="images/person.png" alt="" class="">
                        <a href="#"></i>Tài khoản</a>
                    </div>
                </div>
            </div>
            <div class="product-list">
                <div class="filter border  p-3 w-100" style="display: none; padding: 10px;">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputNhaCungCap">Nhà Cung Cấp:</label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <select class="custom-select" id="inputNhaCungCap">
                                                <option value="">--Nhà Cung Cấp--</option>
                                                <!-- Thêm các option khác tại đây -->
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputTrangThai">Trạng Thái:</label>
                                    <div class="col-md-3">
                                        <select class=" form-control-lg">
                                            <option value="">--Trạng Thái--</option>
                                            <option value="">Bình thường</option>"
                                            <!-- Thêm các option khác tại đây -->
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputSoLuong">Số Lượng:</label>
                                    <div class="col-md-6">
                                    <input type="number" class="form-control" id="inputSoLuong" placeholder="Nhập số lượng">
                                    </div>
                                </div>
                            </div>
                            <!-- Thêm các trường nhập liệu khác tại đây -->
                            <button type="button" class="btn btn-primary" onclick="searchData()">Tìm kiếm</button>
                        </div>
                    </form>
                    
                </div>
                <div class="border p-3 w-100">
                    <form>
                        <div class="form-group row ">
                            <label class="col-sm-2 col-form-label" style="padding-left: 35px;">Loại thiết bị:</label>
                            <div class="col-sm-4">
                                <select class="form-control form-control-lg">
                                    <option value="">--Chọn loại--</option>
                                    <option value="1">Loại 1</option>
                                    <option value="2">Loại 2</option>
                                    <option value="3">Loại 3</option>
                                </select>
                            </div>
                            <label class="col-sm-2 col-form-label" style="padding-left: 45px;">Mã thiết bị:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-lg">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" style="padding-left: 35px;">Tên thiết bị:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-lg">
                            </div>
                            <label class="col-sm-2 col-form-label" style="padding-left: 45px;">Đơn vị:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-lg">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" style="padding-left: 35px;">Nhà sản xuất:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-lg">
                            </div>
                            <label class="col-sm-2 col-form-label" style="padding-left: 45px;">Hạn sử dụng:</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control form-control-lg">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" style="padding-left: 35px;">Số lượng:</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control form-control-lg">
                            </div>
                            <label class="col-sm-2 col-form-label" style="padding-left: 45px;">Trạng thái:</label>
                            <div class="col-sm-4">
                                <select class="form-control form-control-lg">
                                    <option value="" style="padding-left: 35px;">--Chọn trạng thái--</option>
                                    <option value="1">Đang sử dụng</option>
                                    <option value="2">Hỏng</option>
                                    <option value="3">Chưa sử dụng</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div style="align-items: right; text-align: right;">
                                <button type="submit" class="btn btn-primary btn-lg mr-2" id="btn-add">Thêm</button>
                                <button type="reset" class="btn btn-secondary btn-lg" id="btn-cancel">Hủy</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive w-100">
                    <table id="tableThietBi" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Mã thiết bị</th>
                                <th>Tên cung cấp</th>
                                <th>Tên thiết bị</th>
                                <th>Nhà Sản Xuất</th>
                                <th>Loại thiết bị</th>
                                <th>Hạn sử dụng</th>
                                <th>Trạng thái</th>
                                <th>Số lượng</th>
                                <th>Đơn vị</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="js/thietBi.js"></script>
    <script>
        var filterDiv = document.querySelector('.filter');
        var filterButton = document.getElementById('filter-header');

        filterButton.addEventListener('click', function () {
            if (filterDiv.style.display === 'none') {
                filterDiv.style.display = 'block';
            } else {
                filterDiv.style.display = 'none';
                // Gọi hàm getAll ở đây
                getAllData();
            }
        });

        // Kiểm tra khi transition hoàn thành
        filterDiv.addEventListener('transitionend', function () {
            if (filterDiv.style.display === 'none') {
                // Gọi hàm getAll ở đây
                getAllData();
            }
        });

        function getAllData() {
            // Gọi hàm getAll ở đây
            fetch('http://localhost:3000/thietBi/list')
                .then(response => response.json())
                .then(data => {
                    const tableBody = document.querySelector('#tableThietBi tbody');
                    tableBody.innerHTML = ''; // Xóa bỏ các dòng hiện tại trong bảng
                    data.result.forEach(thietBi => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                    <td>${thietBi.maThietBi}</td>
                    <td>${thietBi.tenNCC}</td>
                    <td>${thietBi.tenThietBi}</td>
                    <td>${thietBi.tenNSX}</td>
                    <td>${thietBi.loaiThietBi}</td>
                    <td>${thietBi.hanSD}</td>
                    <td>${thietBi.trangThai}</td>
                    <td>${thietBi.soLuong}</td>
                    <td>${thietBi.donVi}</td>
                `;
                        tableBody.appendChild(row);
                    });
                })
                .catch(error => {
                    console.error(error);
                });
        }
    </script>

</body>

</html>
